image: "redoxos/redoxer:latest"

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_PROJECT_NAMESPACE == "redox-os"'
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'

stages:
  - host
  - test

fmt:
  stage: host
  script:
      - rustup component add rustfmt
      - rustfmt --check

build:
  stage: test
  script:
    - redoxer pkg xz
    - redoxer build --bins
